:root {
  --main-bg-color: rgb(35, 35, 35);
  --main-text-color: rgb(255 255 255);
  --alt-bg-color: rgb(223 223 223);
}

html {
  display: block;
  width: 100%;
}

body {
  background-color: rgb(35, 35, 35);
}

input {
  box-shadow: 0px 2px 4px 2px #858ebc;
  border: 0;
  border-radius: 2px;
  margin: 12px;
  font-size: 16px;
}

.prompt-box, p {
  color: #f9faffde;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 50px;
  text-shadow: #858ebc -2px 2px 8px;
}

.prompt-box {
  margin-top: 200px;
}